.vscode/
.claude/
build/
local/
sdkconfig.old
sdkconfig
components/mruby_component/esp32_build_config.rb.lock
dependencies.lock
ref/
spiffs_data/nsf/test.nsf
spiffs_data/nsf_local/
log/
temp/
nsf_player/*.o
nsf_player/nsf_player
nsf_player/log*
fatfs/home/apu_log_track0.bin


