CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

CONFIG_SPIFFS_MAX_PARTITIONS=3
CONFIG_VFS_SUPPORT_IO=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# Bluetooth Configuration - Disabled for APU-only build
CONFIG_BT_ENABLED=n
